.hideImg {
  display: none;
}

.volumeIcon {
  width: 100px;
  height: 100px;
}

.volumeIcon:active {
  background-color: var(--blue-light-rgba);
}

.volumeIcon:hover {
  border-radius: 50%;
  cursor: pointer;
}

.volumeIconSmall {
  width: 50px;
  height: 50px;
  margin-right: 1rem;
}

.volumeIconSmall:hover {
  cursor: pointer;
}

#wrongAnswer {
  color: var(--blue-light-rgba);
  padding-top: 10px;
}

.answerHide {
  display: none;
}

.answer {
  display: flex;
  justify-content: center;
  margin: 2rem 0 1rem;
  align-items: center;
}

.react-tabs__tab--selected {
  background: var(--blue-dark);
  color: var(--light);
  outline: none;
}

.characterImg {
  height: 150px;
}
