{
  "presets": ["env", "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@core": "./src/core",
          "@components": "./src/components",
          "@auth": "./src/components/auth",
          "@utils": "./src/components/utils"
        }
      }
    ]
  ]
}
