.hideImg {
  display: none;
}

.volumeIcon {
  width: 100px;
  height: 100px;
}
.volumeIcon:active {
  background-color: var(--blue-light-rgba);
}

.volumeIcon:hover {
  border-radius: 50%;
  cursor: pointer;
}
